body {
  margin: 0;
}

.App {
  height: 100vh;

  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    'header'
    'main'
    'footer';
}

.App-header {
  background-color:white;
  
  grid-area: header;

  font-size: calc(10px + 2vmin);
  color: black;

  height: 2em;
  padding: 0.5em 1em;

  display: flex;
  align-items: center;
}

.App-main {
  grid-area: main;
  padding: 15px 5px 10px 5px;
  overflow: auto;
}

.App-link {
  color: #61dafb;
}

.PoetsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  /* padding: 1em;
  column-gap: 1em;
  row-gap: 1em; */
}

@media only screen and (max-width: 768px) {
  .PoetsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .PoetsList {
    grid-template-columns: repeat(1, 1fr);
  }
}

.PoetItem {
  position: relative;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PoetItem-image {
  width: 100%;
}

.PoetItem-name {
  position: absolute;
  color: white;
  margin: 0.6em;
  font-size: 1.8em;
  bottom: 0;
}
